* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
:root {
  --custom-width: min(430px, 100vw);
  --design-width: 430;
  --ratio: calc(var(--custom-width) / var(--design-width));
}


.v105_426 {
  width: var(--custom-width);
  height: calc(2.17 * var(--custom-width));
  background: rgba(255,255,255,1);
  padding: 10px 10px;
  margin: auto;
  opacity: 1;
  position: relative;
  padding: 0px;
  overflow: hidden;

}
.v105_427 {
  width: 298px;
  height: 435px;
  background: url("../images/v105_427.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 188px;
  left: 83px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v105_428 {
  width: 298px;
  height: 435px;
  background: url("../images/v105_428.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 66px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v105_429 {
  width: 298px;
  height: 435px;
  background: url("../images/v105_429.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 149px;
  left: 46px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v105_430 {
  width: 32px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v105_431 {
  width: 3px;
  height: 11px;
  background: rgba(100,100,100,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 335px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v105_432 {
  width: 3px;
  height: 14px;
  background: rgba(100,100,100,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 340px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v105_433 {
  width: 3px;
  height: 17px;
  background: rgba(100,100,100,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 345px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v105_434 {
  width: 3px;
  height: 20px;
  background: rgba(100,100,100,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 350px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v105_435 {
  width: 19px;
  height: 19px;
  background: url("../images/v105_435.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 362px;
  overflow: hidden;
}
.v105_436 {
  width: 26px;
  height: 26px;
  background: url("../images/v105_436.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 388px;
  overflow: hidden;
}
.v105_437 {
  width: 49px;
  height: 88px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 471px;
  left: 66px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v105_438 {
  width: 30px;
  color: url("../images/v105_438.png");
  position: absolute;
  top: 487px;
  left: 75px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_439 {
  width: 324px;
  color: url("../images/v105_439.png");
  position: absolute;
  top: 54px;
  left: 16px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v105_440 {
  width: 256px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 90px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v105_441 {
  width: 151px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 107px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 7px;
  opacity: 1;
  text-align: center;
}
.v105_442 {
  width: 134px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 693px;
  left: 16px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v105_443 {
  width: 160px;
  color: rgba(86,86,86,1);
  position: absolute;
  top: 751px;
  left: 83px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v105_444 {
  width: 122px;
  color: rgba(74,74,74,1);
  position: absolute;
  top: 773px;
  left: 83px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 7px;
  opacity: 1;
  text-align: center;
}
.v105_445 {
  width: 50px;
  height: 50px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 741px;
  left: 16px;
  overflow: hidden;
}
.v105_446 {
  width: 110px;
  color: rgba(86,86,86,1);
  position: absolute;
  top: 822px;
  left: 86px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v105_447 {
  width: 148px;
  color: rgba(74,74,74,1);
  position: absolute;
  top: 842px;
  left: 86px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v105_448 {
  width: 50px;
  height: 50px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 815px;
  left: 16px;
  overflow: hidden;
}
.v105_449 {
  width: 98px;
  color: rgba(86,86,86,1);
  position: absolute;
  top: 900px;
  left: 86px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v105_450 {
  width: 177px;
  color: rgba(74,74,74,1);
  position: absolute;
  top: 922px;
  left: 86px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 7px;
  opacity: 1;
  text-align: center;
}
.v105_451 {
  width: 50px;
  height: 50px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 889px;
  left: 16px;
  overflow: hidden;
}
.v173_267 {
  width: 31px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 466px;
  left: 104px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
