* {
  box-sizing: border-box;
}
:root {
  --custom-width: min(430px, 100vw);
  --design-width: 430;
  --ratio: calc(var(--custom-width) / var(--design-width));
}
body {
  font-size: 14px;
}

.v92_619 {
  width: var(--custom-width);
  height: calc(2.17 * var(--custom-width));
  background: rgba(255,255,255,1);
  padding: 10px 10px;
  margin: auto;
  opacity: 1;
  position: relative;
  padding: 0px;
  overflow: hidden;
}
.v92_621 {
  width: 360px;
  height: 55px;
  background: rgba(26,26,26,1);
  opacity: 1;
  position: absolute;
  top: 709px;
  left: 31px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v92_622 {
  width: 159px;
  height: 10px;
  background: url("../images/v92_622.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 670px;
  left: 135px;
  overflow: hidden;
}
.v92_623 {
  width: 43px;
  height: 10px;
  background: rgba(212,212,212,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 58px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v92_624 {
  width: 43px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v92_625 {
  width: 43px;
  height: 10px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 116px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v92_626 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 183px;
  left: 125px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v170_94 {
  width: 234px;
  height: 234px;
  background: url("../images/v170_94.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 20%;
  overflow: hidden;
}
.v92_628 {
  width: 207px;
  color: url("../images/v92_628.png");
  position: absolute;
  top: 829px;
  left: 111px;
  opacity: 1;
  text-align: center;
}
.v92_629 {
  width: 133px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 722px;
  left: 148px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v92_630 {
  width: 32px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v92_631 {
  width: 3px;
  height: 11px;
  background: rgba(100,100,100,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 335px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v92_632 {
  width: 3px;
  height: 14px;
  background: rgba(100,100,100,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 340px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v92_633 {
  width: 3px;
  height: 17px;
  background: rgba(100,100,100,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 345px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v92_634 {
  width: 3px;
  height: 20px;
  background: rgba(100,100,100,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 350px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v92_635 {
  width: 19px;
  height: 19px;
  background: url("../images/v92_635.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 362px;
  overflow: hidden;
}
.v92_636 {
  width: 26px;
  height: 26px;
  background: url("../images/v92_636.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 388px;
  overflow: hidden;
}
.v173_261 {
  width: 27px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 672px;
  left: 50px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
